@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
}

.Hammenu{
  display: none;
}

@keyframes logoFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.logo-fade-in {
  animation: logoFadeIn 1.5s ease-out forwards;
}

.Section-1-container {
  background-image: url('../src/Assets/Homepage.jpg'); /* Correct path to your image */
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}
.Section-2-container{
  background-image: url('../src/Assets/Section2.jpg'); /* Correct path to your image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.Section-3-container{
  background-image: url('../src/Assets/section3.jpg'); /* Correct path to your image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.Section-4-container{
  background-image: url('../src/Assets/section4.png'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}